<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Adaugati</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form name="form" (ngSubmit)="register(f)" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="fullName">Name</label>
            <input type="text" class="form-control" name="fullName" [(ngModel)]="form.fullName" required #user="ngModel" />
        </div>

        <div class="form-group">
            <label for="cnp">cnp</label>
            <input type="text" class="form-control" name="cnp" [(ngModel)]="form.cnp" required #user="ngModel" />
        </div>

        <div class="form-group">
            <label for="emailAddress">EmailAdress</label>
            <input type="text" class="form-control" name="emailAddress" [(ngModel)]="form.emailAddress" required #calories="ngModel" />
        </div>

        <div class="form-group">
            <label for="phoneNumber">PhoneNumber</label>
            <input type="text" class="form-control" name="phoneNumber" [(ngModel)]="form.phoneNumber" required #proteins="ngModel" />
        </div>

        <div class="form-group">
            <label for="department">Department</label>
            <input type="text" class="form-control" name="department" [(ngModel)]="form.department" required #carbohydrates="ngModel" />
        </div>

        <div class="form-group">
            <label for="specialization">Specialization</label>
            <input type="text" class="form-control" name="specialization" [(ngModel)]="form.specialization" required #fat="ngModel" />
        </div>

        <div class="form-group">
            <label for="salary">Salary</label>
            <input type="number" class="form-control" name="salary" [(ngModel)]="form.salary" required #weight="ngModel" />
        </div>



        <div class="form-group"> 
            <button  class="btn btn-secondary" aria-label="Close" (click)="activeModal.dismiss('Cross click')">Close</button>
            &nbsp;
            <button  class="btn btn-primary">Adaugati</button>
          </div>
    </form>



    <!-- <a class="button" href="/add">
        <button type="button" class="btn btn-outline-danger">Inapoi</button>
      </a> -->

</div>