<html>

<body>
    <section id="contact">
        <div class="container">
            <h1>Contact</h1>
            <div class="row">
                <!--  -->
                <div class="col-md-6">
                    <form action="mailto:simtinica.cosmin@gmailcom" method="post" enctype="text/plain">
                        <form class="contact-form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your name">
                            </div>

                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="Phone no.">
                            </div>

                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email id">
                            </div>

                            <div class="form-group">
                                <textarea class="form-control" rows="4" placeholder="Your Message"></textarea>
                            </div>
                            <!-- <button type="submit" class="btn btn-primary"> Trimiteti</button> -->


                            <a href="mailto: simtinica.cosmin@gmailcom" class="btn btn-primary"> Trimiteti</a>

                            <button type="reset" class="btn btn-primary">Reset</button>
                        </form>
                    </form>
                </div>

                <div class="col-md-6 contact-info">
                    <div class="follow"><b>Adress:</b><i class="fa fa-map-marker"></i> Strada Politehnicii 1, Brașov 500024</div>

                    <div class="follow"><b>Phone:</b><i class="fa fa-phone"></i>0268 474 718</div>

                    <div class="follow"><b>Email:</b><i class="fa fa-envelope-o"></i>f-iesc@unitbv.ro</div>

                    <div class="follow"><label><b>Get Social:</b></label>
                        <a href="https://https://www.facebook.com/IESCBrasov"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>


                </div>


            </div>

        </div>
    </section>

</body>

</html>