<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update data</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form name="form" (ngSubmit)="update(j, f)" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="fullName">Name</label>
            <input type="text" class="form-control" name="fullName" [(ngModel)]="j.fullName" required #user="ngModel" />
        </div>
        <div class="form-group">
            <label for="phoneNumber">PhoneNumber</label>
            <input type="text" class="form-control" name="phoneNumber" [(ngModel)]="j.phoneNumber" required #calories="ngModel" />
        </div>

        <div class="form-group">
            <label for="emailAddress">EmailAdress</label>
            <input type="text" class="form-control" name="emailAddress" [(ngModel)]="j.emailAddress" required #proteins="ngModel" />
        </div>

        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" name="address" [(ngModel)]="j.address" required #carbohydrates="ngModel" />
        </div>

        <div class="form-group">
            <label for="age">Age</label>
            <input type="text" class="form-control" name="age" [(ngModel)]="j.age" required #carbohydrates="ngModel" />
        </div>

        <div class="form-group">
            <label for="sex">Sex</label>
            <input type="text" class="form-control" name="sex" [(ngModel)]="j.sex" required #fat="ngModel" />
        </div>

        <div class="form-group">
            <label for="prescription">Prescription</label>
            <input type="text" class="form-control" name="prescription" [(ngModel)]="j.prescription" required #fat="ngModel" />
        </div>




        <div class="form-group"> 
            <button  class="btn btn-secondary" aria-label="Close"  (click)="close()">Close</button>
            &nbsp;
            <button  class="btn btn-primary">Update data</button>
          </div>
    </form>



    <!-- <a class="button" href="/add">
        <button type="button" class="btn btn-outline-danger">Inapoi</button>
      </a> -->

</div>