<div *ngIf="currentUser; else loggedOut">
    <div class="active-pink-3 active-pink-4 mb-4">
      <mat-form-field>
        <mat-label></mat-label>
        <input class="form-control" matInput (keyup)="applyFilter($event)" placeholder="Search all" #input>
      </mat-form-field>
    </div>
  
  
    <div class="excel">
      <!-- <a class="button" href="/addincasare"> -->
      <!-- <button type="button" style="float: left" class="btn btn-outline-success">Adaugati</button> -->
      <button type="button" style="float: left" class="btn btn-outline-success" (click)="openModal()">Adaugati</button>
      <!-- </a> -->
    </div>
  
  

  
    <div class="mat-elevation-z8">
  
      <table mat-table [dataSource]="dataSource" matSort>
  
  
  
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>id</th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
  
        <!-- Position Column -->
        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef>fullName
            <div>
              <mat-form-field>
                <input matInput class="form-field" type="text" #myInput [(ngModel)]="name1" (input)="searchName()"
                  placeholder="Search Name">
                <br />
              </mat-form-field>
            </div>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
  

        <ng-container matColumnDef="cnp">
          <th mat-header-cell *matHeaderCellDef>cnp 
            <div>
              <mat-form-field>
                <input matInput class="form-field" type="text" #myInput [(ngModel)]="cnp1" (input)="searchCNP()"
                  placeholder="Search CNP">
                <br />
              </mat-form-field>
            </div>  
          </th>
          <td mat-cell *matCellDef="let element"> {{element.cnp}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="phoneNumber">
          <th mat-header-cell *matHeaderCellDef>phoneNumber </th>
          <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
  
        <!-- Weight Column -->
        <ng-container matColumnDef="emailAddress">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>emailAddress </th>
          <td mat-cell *matCellDef="let element"> {{element.emailAddress}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
  
        <!-- Symbol Column -->
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>address </th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
  
  
        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>age </th>
          <td mat-cell *matCellDef="let element"> {{element.age}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
  
        <ng-container matColumnDef="sex">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>sex </th>
          <td mat-cell *matCellDef="let element"> {{element.sex}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
          
        <ng-container matColumnDef="prescription">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>prescription </th>
            <td mat-cell *matCellDef="let element"> {{element.prescription}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
  
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> delete </th>
          <td mat-cell *matCellDef="let element"> <a class="btn btn-sm btn-outline-danger"
              (click)="deleteModalPacient(element.id)">Delete</a></td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
  
        <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> update </th>
          <td mat-cell *matCellDef="let element"> <a class="btn btn-sm btn-outline-primary"
              (click)="updateModalPacient(element)">Update</a></td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
  
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
      </table>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>

  <ng-template #loggedOut>
    Please login.
</ng-template>